.pos {
    position:fixed;
    right: -60%;
    top: 15%;
    width: calc(100% - 2rem);
  }
  .bar {
    padding: 1%;
    background: linear-gradient(#e1e1ff ,white);
    height: 10rem; 
    margin: 0;
    height: 100%;
    clear: both;
  }