.box {
    width: 35%;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
    padding-top: 10px;
    margin-bottom: 10px;
    background: #EBEBFA;
    transition: all .6s ease;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.paymentmethod {
    padding-top: 15px;
    padding-left: 5%;
}

.paymentmethod .add {
    padding-left: 55%;
    position: relative;
    display: inline-block;
}

.boxy {
    width: 35%;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
    padding-top: 10px;
    margin-bottom: 10px;
    background: #EBEBFA;
    transition: all .6s ease;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
}

.selectBank {
    background-color: rgba(255, 255, 255, .8);
}

.visa {
    padding-top: 15px;
    padding-left: 5%;
    padding-bottom: 20px;
}

.visa .edit {
    padding-left: 72%;
    position: relative;
    display: inline-block;

}

.click {
    cursor: pointer;

}